<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Pragma Brewery</title>
  <link rel="stylesheet" href="/materialize-css/dist/css/materialize.min.css" type="text/css" rel="stylesheet"
    media="screen,projection">
  <link href="/style.css" type="text/css" rel="stylesheet">
  <link href="/lmdd.min.css" rel="stylesheet">
</head>

<body>
  <main class="container">
    <table style=" margin-left:12px; border-style: solid;">
      <header class="container">
        <div class="center">
          <h1>Pragma Brewery Transport</h1>
        </div>
      </header>

      <div id="drag-drop" style="border-style: solid;">
        <div class="nestable w-1-2">
          <div id="available-beers-container" class="center fillscreen">
            <h2>Avaliable Beers</h2>
            <div class="nestable w-1-3 nested-item grey accent-1 z-depth-3">
              <% for (var i = 0; i < beer.length; i++) { %>
              <div id="beer<%= i %>" data-attribute-color="gold" class="beer nested-item z-depth-1">
                <div class="center">
                  <span class="beer-name" value="<%=beer[i].name%>">
                    <%=beer[i].name%>
                  </span>
                  </br>
                  <span class="beer-min-temperature" value="<%=beer[i].min%>">
                    <%=beer[i].min%> Cº
                  </span>
                  <span class="beer-max-temperature" value="<%=beer[i].max%>">
                    <%=beer[i].max%> Cº
                  </span>
                </div>
              </div>
              <% } %>
            </div>
          </div>
          <label class="center tip fillscreen">Drag the beers into the containers</label>
          <div id="drag-drop-container" class="center fillscreen">
            <h2>Containers</h2>
            <% for (var j = 1; j < 4; j++) { %>
            <div id="container<%=j%>" class="fillscreen container">
              <input id="range<%=j%>" class="container-temperature" value="0" type="range" step="0.5" min="0" max="9"
                onchange="onChangeTemperature(this)">
              <output id="range-output<%=j%>" class="temperature-output">0</output>
              <span>Cº</span>
              <div class="nestable w-1-3 nested-item grey accent-1 z-depth-3">
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </table>
  </main>

  <script src="/materialize-css/dist/js/materialize.min.js"> </script>
  <script src="lmdd.min.js"></script>
  <script src="main.js"></script>
</body>

</html>